@font-face {
    font-family: p22Vincent;
    src: url(fonts/P22-Vincent-Regular.otf);
}

html,
body,
div,
ul,
li {
    padding: 0;
    margin: 0;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    color: rgb(77, 77, 77);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border-style: solid;
    border-width: 15px;
    -moz-border-image: url(images/borderV.jpg) 15 repeat;
    -webkit-border-image: url(images/borderV.jpg) 15 repeat;
    -o-border-image: url(images/borderV.jpg) 15 repeat;
    border-image: url(images/borderV.jpg) 15 repeat;
    background-image: url(images/felt3.jpg);
}

h1.playerText,
h1.pot {
    font: 15px p22Vincent;
    font-size: 4em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    margin-top: 0;

}
.pot {
    position: absolute;
    top: 280;
}

#opp-card, #my-card {
    font-size: 2em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    position: absolute;

}

#opp-card {
    top: 63px;
}

#my-card {
    top: 430px;
}

}

h2 {
    color: rgba(255, 255, 255, 1);
}

h4 {
    color: rgba(255, 255, 255, 1);
}

.card-block {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.opp-card-block,
.pot-block,
.my-card-block {
    position: relative;
    width: 293px;
    margin: 0 auto;
    height: 193px;
    text-align: center;
}

.opp-card-block {
    height: 150px;
}


.my-card-block {
    padding-top: 30px;
    height: 150px;
}

.opp-card-container {
    box-shadow: 2px 10px 25px #888888;
    display: inline-block;
    width: 67px;
    height: 94px;
    background-image: url(images/CardDeck.gif);
    background-position: -3536 0;
}

.opp-card1 {
    position: absolute;
    top: -115px;
    left: 38px;
    transition: bottom .2s ease-in-out 0s, left .2s ease-in-out 0s, top .2s ease-in-out 0s, box-shadow .2s ease-in-out 0s;
}

.opp-card2 {
    position: absolute;
    top: -115px;
    left: 113px;
    transition: bottom .2s ease-in-out 0s, left .2s ease-in-out 0s, top .2s ease-in-out 0s, box-shadow .2s ease-in-out 0s;
}

.opp-card3 {
    position: absolute;
    top: -115px;
    left: 188px;
    transition: bottom .2s ease-in-out 0s, left .2s ease-in-out 0s, top .2s ease-in-out 0s, box-shadow .2s ease-in-out 0s;
}

.my-card-container {
    outline-style: none;
    box-shadow: 2px 10px 25px #888888;
    display: inline-block;
    width: 67px;
    height: 94px;
    background-image: url(images/CardDeck.gif);
    background-position: -3536;
}

.my-card0 {
    position: absolute;
    bottom: -155px;
    left: 38px;
    z-index: 4;
    transition: bottom .2s ease-in-out 0s, left .2s ease-in-out 0s, top .2s ease-in-out 0s, box-shadow .2s ease-in-out 0s;}


.my-card1 {
    position: absolute;
    bottom: -155px;
    left: 113px;
    z-index: 4;
    transition: bottom .2s ease-in-out 0s, left .2s ease-in-out 0s, top .2s ease-in-out 0s, box-shadow .2s ease-in-out 0s;
}


.my-card2 {
    position: absolute;
    bottom: -155px;
    left: 188px;
    z-index: 4;
    transition: bottom .2s ease-in-out 0s, left .2s ease-in-out 0s, top .2s ease-in-out 0s, box-shadow .2s ease-in-out 0s;}

.my-card-container:hover {
    box-shadow: 2px 10px 25px yellow;
    bottom: -140px;
}

.potCard {
    position: absolute;
    visibility: hidden;
    display: inline-block;
    width: 67px;
    height: 94px;
    box-shadow: 2px 10px 25px #888888;
    background-image: url(images/CardDeck.gif);
    background-position: -3536;
    transition: bottom .2s ease-in-out 0s, left .2s ease-in-out 0s, top .2s ease-in-out 0s, box-shadow .2s ease-in-out 0s;}

.deck,
.deck1 {
    display: inline-block;
    width: 67px;
    height: 94px;
    box-shadow: 2px 10px 25px #888888;
    background-image: url(images/CardDeck.gif);
    visibility: visible;
    background-position: -3536;
    position: absolute;
}
.deck {
    left: -75px;
    bottom: -155px;
    z-index: 5;
}
.deck1 {
    left: -75;
    top: -115px;
    z-index: 5;
}

.oppCard1 {
    background-position: -3536;
    position: absolute;
    left: 0px;
}

.oppCard2 {
    background-position: -3536;
    position: absolute;
    left: 75px;
}

.oppCard3 {
    background-position: -3536;
    position: absolute;
    left: 150px;
}

.oppCard4 {
    background-position: -3536;
    position: absolute;
    left: 225px;
}

.myCard1 {
    background-position: -3536;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.myCard2 {
    background-position: -3536;
    position: absolute;
    left: 75px;
    bottom: 0px;
}

.myCard3 {
    background-position: -3536;
    position: absolute;
    left: 150px;
    bottom: 0px;
}

.myCard4 {
    background-position: -3536;
    position: absolute;
    left: 225px;
    bottom: 0px;
}

.card-container h2,
.card-container h4 {
    text-align: center;
}

.card-container h2 {
    padding-top: 38px;
    font-size: 38px;
}

.card-container h4 {
    font-size: 22px;
}

.row-centered {
    text-align: center;
}

.card-count {
    color: rgba(255, 255, 255, 1);
}


.btn {
    margin: 0 auto;
}