@font-face {
	font-family: p22Vincent;
	src: url(../DnD_Website/fonts/P22-Vincent-Regular.otf);
}
@charset "UTF-8";

html, body, div, ul, li {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-image: url(Images/felt2.jpg);
}

img {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;

}
body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
	color: rgb(77, 77, 77);
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	padding-top: 50px;
	border-style: solid;
	border-width: 15px;
	-moz-border-image: url(Images/borderV.jpg) 15 repeat;
	-webkit-border-image: url(Images/borderV.jpg) 15 repeat;
	-o-border-image: url(Images/borderV.jpg) 15 repeat;
	border-image: url(Images/borderV.jpg) 15 repeat;
}

h1 {
	font: 30px p22Vincent;
	width: 100%;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}
h2 {
	color: rgba(255, 255, 255, 1);
}

h4 {
	color: rgba(255, 255, 255, 1);
}

.card-block {
	width: 40%;
	margin: 0 auto;
}

.opp-card-container {
	box-shadow: 2px 10px 25px #888888;
	display: inline-block;
	width: 67px;
	height: 94px;
	background-image: url(Images/CardDeck.gif);
	background-position: -3536 0;
}

.my-card-container {
	outline-style: none;
	box-shadow: 2px 10px 25px #888888;
	display: inline-block;
	width: 67px;
	height: 94px;
	background-image: url(Images/CardDeck.gif);
	background-position: -3536;
}

.potCard{
	outline: 0;
	visibility: visible;
	display: inline-block;
	width: 67px;
	height: 94px;
	box-shadow: 2px 10px 25px #888888;
	background-image: url(Images/CardDeck.gif);
	background-position: -3536;

}
.oppCard1 {
	margin-left: 100px;
	 background-position: -3536;
 }
.oppCard2 {
	background-position: -3536;
}
.oppCard3 {
	background-position: -3536;
}
.oppCard4 {
	background-position: -3536;
}
.myCard1{
	margin-left: 216px;
	margin-bottom: 30px;
	background-position: -3536;
}
.myCard2 {
	background-position: -3536;
	margin-bottom: 30px;
}
.myCard3 {
	background-position: -3536;
	margin-bottom: 30px;
}
.myCard4 {
	background-position: -3536;
	margin-bottom: 30px;
}

.card-container h2, .card-container h4 {
	text-align: center;
}
.card-container h2 {
	padding-top: 38px;
	font-size: 38px;
}
.card-container h4 {
	font-size: 22px;
}

.row-centered {
	text-align: center;
}

.card-count{
	color: rgba(255, 255, 255, 1);
}
.pot {
	text-align: left;
	display: inline;

}

.btn {
	margin: 0 auto;
	margin-top: 25px;
}